@font-face {
  font-family: "MetroSans-Bold";
  src: url("/fonts/metro-sans/metro-sans-bold.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/metro-sans/metro-sans-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mono-1";
  src: url("/fonts/mono/rel1.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mono-2";
  src: url("/fonts/mono/rel2.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mono-3";
  src: url("/fonts/mono/rel3.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mono-4";
  src: url("/fonts/mono/rel4.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mono-10";
  src: url("/fonts/mono/rel10.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mono-8";
  src: url("/fonts/mono/rel8.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mono-11";
  src: url("/fonts/mono/rel11.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mono-12";
  src: url("/fonts/mono/rel12.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mono-9";
  src: url("/fonts/mono/rel9.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata-Black.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MetroSans-BoldItalic";
  src: url("/fonts/metro-sans/metro-sans-bold-italic.eot");
  src: url("/fonts/metro-sans/metro-sans-bold-italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/metro-sans/metro-sans-bold-italic.woff2") format("woff2"),
    url("/fonts/metro-sans/metro-sans-bold-italic.woff") format("woff"),
    url("/fonts/metro-sans/metro-sans-bold-italic.ttf") format("truetype"),
    url("/fonts/metro-sans/metro-sans-bold-italic.svg#youworkforthem")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MetroSans-Semi-BoldItalic";
  src: url("/fonts/metro-sans/metro-sans-semi-bold-italic.eot");
  src: url("/fonts/metro-sans/metro-sans-semi-bold-italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/metro-sans/metro-sans-semi-bold-italic.woff2") format("woff2"),
    url("/fonts/metro-sans/metro-sans-semi-bold-italic.woff") format("woff"),
    url("/fonts/metro-sans/metro-sans-semi-bold-italic.ttf") format("truetype"),
    url("/fonts/metro-sans/metro-sans-semi-bold-italic.svg#youworkforthem")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MetroSans-Semi-Bold";
  src: url("/fonts/metro-sans/metro-sans-semi-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MetroSans-Book";
  src: url("/fonts/metro-sans/metro-sans-book.eot");
  src: url("/fonts/metro-sans/metro-sans-book.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/metro-sans/metro-sans-book.woff2") format("woff2"),
    url("/fonts/metro-sans/metro-sans-book.woff") format("woff"),
    url("/fonts/metro-sans/metro-sans-book.ttf") format("truetype"),
    url("/fonts/metro-sans/metro-sans-book.svg#youworkforthem") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MetroSans-BookItalic";
  src: url("/fonts/metro-sans/metro-sans-book-italic.eot");
  src: url("/fonts/metro-sans/metro-sans-book-italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/metro-sans/metro-sans-book-italic.woff2") format("woff2"),
    url("/fonts/metro-sans/metro-sans-book-italic.woff") format("woff"),
    url("/fonts/metro-sans/metro-sans-book-italic.ttf") format("truetype"),
    url("/fonts/metro-sans/metro-sans-book-italic.svg#youworkforthem")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MetroSans-Light";
  src: url("/fonts/metro-sans/metro-sans-light.eot");
  src: url("/fonts/metro-sans/metro-sans-light.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/metro-sans/metro-sans-light.woff2") format("woff2"),
    url("/fonts/metro-sans/metro-sans-light.woff") format("woff"),
    url("/fonts/metro-sans/metro-sans-light.ttf") format("truetype"),
    url("/fonts/metro-sans/metro-sans-light.svg#youworkforthem") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MetroSans-LightItalic";
  src: url("/fonts/metro-sans/metro-sans-light-italic.eot");
  src: url("/fonts/metro-sans/metro-sans-light-italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/metro-sans/metro-sans-light-italic.woff2") format("woff2"),
    url("/fonts/metro-sans/metro-sans-light-italic.woff") format("woff"),
    url("/fonts/metro-sans/metro-sans-light-italic.ttf") format("truetype"),
    url("/fonts/metro-sans/metro-sans-light-italic.svg#youworkforthem")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MetroSans-Medium";

  src: url("/fonts/metro-sans/metro-sans-medium.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/metro-sans/metro-sans-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MetroSans-MediumItalic";
  src: url("/fonts/metro-sans/metro-sans-medium-italic.eot");
  src: url("/fonts/metro-sans/metro-sans-medium-italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/metro-sans/metro-sans-medium-italic.woff2") format("woff2"),
    url("/fonts/metro-sans/metro-sans-medium-italic.woff") format("woff"),
    url("/fonts/metro-sans/metro-sans-medium-italic.ttf") format("truetype"),
    url("/fonts/metro-sans/metro-sans-medium-italic.svg#youworkforthem")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MetroSans-Regular";
  src: url("/fonts/metro-sans/metro-sans-regular.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/metro-sans/metro-sans-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MetroSans-RegularItalic";
  src: url("/fonts/metro-sans/metro-sans-regular-italic.eot");
  src: url("/fonts/metro-sans/metro-sans-regular-italic.eot?#iefix")
      format("embedded-opentype"),
    url("/fonts/metro-sans/metro-sans-regular-italic.woff2") format("woff2"),
    url("/fonts/metro-sans/metro-sans-regular-italic.woff") format("woff"),
    url("/fonts/metro-sans/metro-sans-regular-italic.ttf") format("truetype"),
    url("/fonts/metro-sans/metro-sans-regular-italic.svg#youworkforthem")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
